<!DOCTYPE html>
<html>
  <head>
    <title>Login | </title>
  </head>
  <body>
  </body>
  <h1> Welcome to Admin login </h1>
  
  <%=er%>

    <form method="post">
    
    <span>Email:
    <input type="email", name="email", required=true/>
    <br/>
    </span>

    <span> Password:
    <input type="password", name="password", required=true/>
    <br/>
    </span>
    <input type="submit"/>
</form>
</html>