<!DOCTYPE html>
<html>
  <head>
    <title>contribute | </title>
    <style>
  body
  {
    
background-image: url("img.jpg");
 background-size: cover;
      background-position: center;
      font-size: 20px;
 margin-top:0px;
 margin-left:400px;
 margin-right:0px;


  }
  </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
</head>
<body>
<div align="center">
  <h1>Feel free to contribute!</h1>
  <p/>
  <br>
   <h4> Welcome <%=user.firstName%> <%=user.lastName%> ! You are now logged in.Click <a href="/logout">logout</a> to exit<h4>
  click <a href="/visual">here</a> for Graph visualization

<p/>

  

  </br>


  <div id="section" style="width:30%">
  <h3>Create a Node</h3>
  <label for="usr">Node Name:</label>
  <input type="text" name="node" class="form-control" id="create_nod1" width=10%>
  <br><br>
  <label for="sel1">Node Property:</label>
  <br><br>
  <select class="form-control" id="create_sel" name="select">
    <option>Living</option>
    <option>Non_living</option></select>
    <br/>
    <button type="button" class="btn btn-success" id='create_node'>create node</button>
    <button type="button" class="btn btn-danger" id='delete_node'>delete node</button>
    </br>
    </br>
    <ul id="create_msg"></ul>
    </br>
</div>

<div id="section" style="width:30%">
  <h3>Search Nodes</h3>

  <label for="usr">Node Name:</label>
  <input type="text" name="node" class="form-control" id="search_nod1">
    <br/>
    <button type="button" class="btn btn-primary" id='search_node'>search node</button>
    <br/><br>
    <ul id="serach_msg"></ul><br>
    <br/>

</div>

<div id="section" style="width:30%">
<h3>Create Reationship</h3>
<label for="usr">Node 1:</label>
<input type="text" name="node" class="form-control" id="rel_nod1">
<br/>
<label for="usr">Relationship:</label>
<br/>
<select class="form-control" id="rel_sel" name="select">
    <option>Harms</option>
    <option>Uses</option></select>
 <br/>   
  <label for="usr">Node 2:</label>
  <input type="text" name="node" class="form-control" id="rel_nod2"></input><br>
<label for="usr">how?:</label>
<br/>
  <input type="text" name="node" class="form-control" id="rel_how"></input>

  <br/>
    <button type="button" class="btn btn-primary" id='see_realtionship' style="width:22%" >View</button>
    <button type="button" class="btn btn-success" id='create_realtionship' style="width:22%">Create</button>
    <button type="button" class="btn btn-warning" id='update_realtionship' style="width:22%">Update</button>
    <button type="button" class="btn btn-danger" id='delete_realtionship' style="width:22%">Delete</button>
    <br/><br/>
    <ul id="rel_msg"></ul><br>
</div>

<div id="section" style="width:30%">
<h3>See Response</h3>
<label for="usr">Enter nodes:</label>
  <input type="text" name="node" class="form-control" id="node_in">
    <br/>
    <button type="button" class="btn btn-primary" id='response'>Response</button>
    <br/><br>
    <ul id="response_msg"></ul><br>
    <br/>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>