<!DOCTYPE html>
<html>
  <head>
    <title>home| </title>
 
    <style>
    body{
      text-align: center; 
      font-size: 20px;
      font-family: helvetica;
      position: relative;
      top: 50%;
      transform: translateY(50%);
      background: url('wallpaperblue.jpg');
        background-size: cover;
        color: white;
    }
    h1{
      font-size: 70px;
    }
     input {
      border: 0;
      padding: 10px;
      font-size: 17px;
margin: 5px 0px 0px 0px;
    }
    input[type="submit"] {

  -moz-box-shadow:inset 0px 3px 7px 0px #29bbff;
  -webkit-box-shadow:inset 0px 3px 7px 0px #29bbff;
  box-shadow:inset 0px 3px 7px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:17px;
  padding:8px 36px;
  text-decoration:none;
  text-shadow:0px 0px 0px #263666;

hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
  background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
  background-color:#0688fa;
}
active {
  position:relative;
  top:1px;
}


  }
    </style>
  </head>
  <body>
  <h1> Knowledge BaseX</h1>
  <p>
    Welcome to Knowledge BaseX  home page.  Please
    <a href="/register">register</a> or <a href="/login">login</a> to continue!
  </p>
   <span>
   <input type="text", name="node" placeholder="Enter Node Name", id="search_input" required=true></span>
   <br/>

   <br>
   <input type="submit" id="search"/> 
   <br> <br><br>

   <ul id="msg"></ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
     