<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge BaseX | </title>
    <style>
     body
  	{
    
background-image: url("img.jpg");
 background-size: cover;
      background-position: center;
      font-size: 20px;
 margin-top:0px;
 margin-left:400px;
 margin-right:0px;


  }
  h4.hidden {
    visibility: hidden
	}
  </style>
  </head>
  <body>

  	
  		<h1> Response Page says Welcome!</h1>
  	<% if (res) { %>
  		<h4 class="hidden">  <%= res=res.resp.split('.<br/>')%>  </h4>
		<% res.forEach(function(n){ %>
      		<li><%= n %></li>
    	<% }) %>
    <% } %>
  </body>
</html>
