<!DOCTYPE HTML>
<html>

<head>
    <title>Graph Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="../assets/css/jquery.pagepiling.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../stylesheets/neod3main.css" type="text/css" />
    <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="../assets/js/jquery.pagepiling.min.js"></script>
    <script type="text/javascript" src="../assets/js/indexpagemain.js"></script>
   <!--  <script type="text/javascript" src="../assets/js/fScreen.js"></script> -->
    
<script src="../lib/d3/d3.min.js"></script>
<script src="../lib/neod3/neod3.js"></script>
<script src="../lib/neod3/neod3-visualization.js"></script>
<script src="../js/neod3main.js"></script>
</head>

<body id="top">
    <!-- Header -->
    <div id="pagepiling">
        <a href="/contribute">Back</a>
        
        <!-- Two -->
        <div class="section pp-scrollable" id="section2">
           
            <!-- Graph view-->
            <div class="row">
              <div><svg id="graphview"></svg></div>
                <table id="main_table" class="flat-table">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</body>

</html>
