<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GraphDemo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/neod3main.css">
</head>

<body>
    <svg id="graphview" style="height:80%;width:100%;overflow:auto;" ></svg>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="../lib/neod3/neod3.js"></script>
    <script src="../lib/neod3/neod3-visualization.js"></script>
    <script src="../lib/jquery/jquery1.11.3.min.js"></script>
    <script src="../js/neod3main.js"></script>
</body>
</html>