.animate-scale-enter,.animate-scale-leave{transition:400ms cubic-bezier(.25,.25,.75,.75) all;position:relative;display:block}
.animate-scale-leave.animate-scale-leave-active,.animate-scale-enter{transform:scaleY(0);max-height:0;opacity:0}
.animate-scale-enter.animate-scale-enter-active,.animate-scale-leave{transform:scaleY(1);max-height:50px;opacity:1}
path.link{fill:none;stroke:#7f8c8d;stroke-width:2px}
text{font-family:sans-serif;pointer-events:none}
marker{fill:#d8dadc}
text .faded{fill:#333}
.node .outline{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all .15s;-moz-transition:all .15s;-o-transition:all .15s;-ms-transition:all .15s;transition:all .15s;-webkit-transition-timing-function:cubic-bezier(.694,.0482,.335,1);-moz-transition-timing-function:cubic-bezier(.694,.0482,.335,1);-o-transition-timing-function:cubic-bezier(.694,.0482,.335,1);-ms-transition-timing-function:cubic-bezier(.694,.0482,.335,1);transition-timing-function:cubic-bezier(.694,.0482,.335,1)}
.node:hover .outline{-webkit-transform:scale(1.4);-moz-transform:scale(1.4);-o-transform:scale(1.4);-ms-transform:scale(1.4);transform:scale(1.4)}
.relationship .overlay{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);fill:#6ac6ff}
.relationship.selected .overlay{fill:#fdcc59}
.relationship.selected:hover .overlay{fill:#6ac6ff}
.relationship:hover .overlay,.relationship.selected .overlay{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
.outline,.overlay{cursor:pointer}
svg { max-width: 1000px;min-width: 500px; min-height: 300px; max-height:600px;display:block; border-size:2px;border-style:solid;border-color:#5e0231;margin-bottom: 10%; border-radius: 6px;}
